$shadow-primary: 0.55rem 0.55rem 0 #bb0606;
$shadow-primary-txt: 3px 3px #bb0606;
$shadow-secondary: 0.55rem 0.55rem 0 #f1d937;
$shadow-dark:rgba(0, 0, 0, 0.5);

$central-translate:translate(-50%, -50%);